<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Стань красивей
            <br />
            Вместе с нами
        </h2>
        <p>
            Готовы обрести невероятную красоту? Запишитесь онлайн прямо сейчас и дайте себе лучший подарок!
        </p>
        <a href="/contact" class="cs-button-solid">Запишитесь сейчас</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/2.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/2.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/2.webp" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>