<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo_gold.svg" alt="logo" width="264" height="78"></a>
            <!-- <p>
                Extra content if you need it, if not you can delete this whole p tag. I usually do.
            </p> -->
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Информация</h2>
                    </li>
                    <li>
                        <a href="/">Домашняя</a>
                    </li>
                    <li>
                        <a href="/about">О нас</a>
                    </li>
                    <li>
                        <a href="/projects">Проекты</a>
                    </li>
                    <li>
                        <a href="/testimonials">Отзывы</a>
                    </li>
                    <li>
                        <a href="/contact">Контакты</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Услуги</h2>
                    </li>
                    <li>Стрижка</li>
                    <li>Маникуюр</li>
                    <li>Спа</li>
                    <li>Макияж</li>
                </ul>
                <ul>
                    <li>
                        <h2>Контакты</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Написать письмо</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Сайт создан</span>
        <a href="/" target="_blank" rel="noopener">@a_bo_go </a>
        <span class="copyright">
            Авторские права 2023 - н.в.</span>
    </div>
</footer>