---
title: 'О нас'
description: 'О салоне красоты Angel Beauty'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: О нас
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">О нас</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/1.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/1.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/1.webp" alt="beauty salon" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/haircut.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/haircut.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/haircut.webp" alt="haircut" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/manicure.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/manicure.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/manicure.webp" alt="manicure" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">О нас</span>
                <h2 class="cs-title">Об Angel Beauty</h2>
                <p class="cs-text">
                    Наш салон красоты - это место, где красота становится искусством. Мы - профессиональная команда, которая предана тому, чтобы подарить нашим клиентам невероятные моменты красоты и уверенности. С многолетним опытом и страстью к миру красоты, наши специалисты стремятся к совершенству в каждой услуге, которую мы предоставляем.
                </p>
                <p class="cs-text">
                    В нашем салоне красоты вы найдете не только высококлассные услуги, но и атмосферу тепла и уюта. Мы гордимся нашей способностью создавать персональные образы, которые подчеркивают индивидуальность каждого клиента. Приходите к нам, чтобы расслабиться, преобразиться и почувствовать себя на высоте. Мы рады вас приветствовать в мире красоты и уверенности!
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Мы всегда стараемся соблюдать качество наших услуг.
                    </p>
                    <span class="cs-name">Малика Садыкова</span>
                    <span class="cs-job">Основатель</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/services" class="cs-button-solid">Наши услуги</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}