---
title: 'Услуги'
description: 'Услуги салона красоты Angel Beauty'
preloadImg: '/assets/images/1.webp'
permalink: 'services/'
eleventyNavigation:
    key: Услуги
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Наши услуги</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/1.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/1.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/1.webp" alt="beauty salon" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-690">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Стрижка <span class="cs-color"><br>На любой вкус</span></h2>
            </div>
            <p class="cs-text">
                В нашем салоне красоты мы предоставляем широкий спектр стрижек и укладок, чтобы помочь вам выразить свой стиль и индивидуальность.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Классическая стрижка</h3>
                    <p class="cs-item-text">
                        Наши классические стрижки - это идеальное сочетание традиционной элегантности и современной стилистики, чтобы подчеркнуть вашу утонченную красоту
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Модные тенденции</h3>
                    <p class="cs-item-text">
                        Следите за последними модными тенденциями с нашими современными и креативными стрижками, которые придадут вашему образу уникальность.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Парикмахерское искусство</h3>
                    <p class="cs-item-text">
                        Дайте волю вашей индивидуальности с нашими авторскими стрижками, созданными с любовью и искусством парикмахеров-мастеров
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-690">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Маникюр<span class="cs-color"><br>Будь неотразима</span></h2>
            </div>
            <p class="cs-text">
                Наши профессионалы предоставляют маникюр на высшем уровне, уделяя внимание каждой детали, чтобы ваши ногти выглядели безупречно. С широким выбором цветов, дизайнов и материалов, мы создадим уникальный и стильный маникюр, который подчеркнет вашу индивидуальность.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Классический маникюр</h3>
                    <p class="cs-item-text">
                        Наслаждайтесь роскошным уходом для ваших ногтей с нашим классическим маникюром, который включает формирование ногтей, кутикуль и покрытие ваших ногтей цветным лаком по вашему выбору
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Спа-маникюр</h3>
                    <p class="cs-item-text">
                        Погрузитесь в оазис расслабления с нашим спа-маникюром, который включает в себя увлажняющие процедуры, массаж рук и дополнительные опции для улучшения здоровья ваших ногтей и рук
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Арт-маникюр</h3>
                    <p class="cs-item-text">
                        Дайте волю своей фантазии с нашим арт-маникюром, где наши талантливые мастера создадут уникальные дизайны и рисунки на ваших ногтях, чтобы добавить нотку творчества к вашему облику
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-690">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Макияж <span class="cs-color"><br>Для Богини</span></h2>
            </div>
            <p class="cs-text">
                Наш макияж - это искусство подчеркивать вашу естественную красоту и выражать вашу индивидуальность. Наши профессиональные визажисты предоставляют широкий спектр макияжа, от естественного до вечернего, чтобы вы сияли на любом мероприятии.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Дневной макияж</h3>
                    <p class="cs-item-text">
                        Наши визажисты создадут легкий и естественный дневной макияж, чтобы подчеркнуть вашу природную красоту и придать свежесть вашему облику
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Вечерний макияж</h3>
                    <p class="cs-item-text">
                        Подготовьтесь к особенному случаю с нашим вечерним макияжем, который подчеркнет вашу грацию и добавит роскоши вашему виду.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Свадебный макияж</h3>
                    <p class="cs-item-text">
                        Создайте незабываемый образ на самом важном дне вашей жизни с нашим свадебным макияжем, который будет идеально сочетаться с вашим стилем и настроением
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}