---
title: 'Отзывы'
description: 'Отзывы о салонах красоты Angel Beauty'
preloadImg: '/assets/images/1.webp'
permalink: 'reviews/'
eleventyNavigation:
    key: Отзывы
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Отзывы</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/1.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/1.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/1.webp" alt="beauty salon" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    У меня всегда были проблемы с волосами, но благодаря вашим волшебным стилистам, мои волосы наконец-то выглядят потрясающе каждый день!
                </p>
                <div class="star-group">
                    <span class="name">Малика<span class="desc">Домохозяйка</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Салон, где я чувствую себя как королева - это ваш салон красоты. Я не могу дождаться следующего визита!
                </p>
                <div class="star-group">
                    <span class="name">Анна<span class="desc">Студентка</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Спа-процедуры здесь просто незабываемы. После них я чувствую себя как переродившаяся.
                </p>
                <div class="star-group">
                    <span class="name">Аиша<span class="desc">Стилист</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Маникюр и педикюр у вас - это настоящее искусство. Мои ногти никогда не выглядели так хорошо.
                </p>
                <div class="star-group">
                    <span class="name">Зарина<span class="desc">Домохозяйка</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Цветные стрижки и окрашивание, которые я делала у вас, всегда вызывают восхищение и вопросы о том, где я это сделала.
                </p>
                <div class="star-group">
                    <span class="name">Карина<span class="desc">Турагент</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    "Спасибо, что вы создали такое место, где красота вдохновляется и никогда не заканчивается.
                </p>
                <div class="star-group">
                    <span class="name">Сабина<span class="desc">Администратор</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}